*{
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: silver;
    background-image: linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px),
        linear-gradient(335deg, #b00 23px, transparent 23px),
        linear-gradient(155deg, #d00 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
.container{
    border-radius: 40px;
    width: 50%;
    height: 75%;
    background-color: #3FC1C9;
    box-shadow: 5px 5px 0px 5px #287b80;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.screen{
    width: 70%;
    height: 15%;
    background-color: #F5F5F5;
    margin-top: 5%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 70px;
    font-weight: 900;
    padding-right: 20px;
    overflow: hidden;
}
.screen:empty::before{
    content: "0";
}

.keys{
    width: 80%;
    height: 60%;
    margin-bottom: 3%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.keys .key{
    border-radius: 30px;
    width: 30%;
    height: 22%;
    background-color: #FC5185;
    box-shadow: 0px 5px 0px 0px #364F6B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-weight: 900;
    user-select: none;
}
.keys .key:active{
    box-shadow: none;
    transform: translateY(4px);
    box-shadow: 0px 2px 0px 0px #364F6B;
}

#plus , #equal {
    background: #eb1253;
}
#reset{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: #FCBAD3;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 2px 0px 0px #364F6B;
    cursor: pointer;
    user-select: none;
    line-height: 30px;
    font-weight: 800;
    font-size: 20px;
}
#reset:active {
    transform: translateY(2px);
    box-shadow: 0px 1px 0px 0px #364F6B;
}